{% load staticfiles %}
<!doctype html>
<html lang="en">
    <head>
        <!-- React. -->
        <script src="../../static/react/build/react.js"></script>
        <script src="../../static/react/build/react-dom.js"></script>

        <!-- Bootstrap CSS  --> 
        <link href="{% static 'css/bootstrap.min.css' %}" >  
        <script src="{% static 'js/bootstrap.min.js' %}"></script> 

        <title>Rodent App</title>
    </head>
    <body class="text-center">
        <div class="container">
            {% block 'body' %}
            
            {% endblock %}
        </div>
    </body>

</html>